[Desktop Entry]
Name=Logins App
Comment=Logins App that does everything
Exec=logins-app 
Terminal=false
Type=Application
Categories=Education; #adjust accordingly your snap category
